:root {
  --color-primary: #854dff;
  --color-line: #dcdcdc;
  --color-error: #ff5959;
  --color-background: #f0f0f0;
  --color-surface: #ffffff;
  --color-text: #151515;
  --color-text-secondary: #716f6f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  font-size: clamp(1rem, 2vw, 4rem);
  max-width: 840px;
  padding: 3rem 1.5em;
  margin: 0 0.5em;
  border-radius: 1.5rem;
  border-bottom-right-radius: 6.25em;
  background-color: var(--color-surface);
}

/* -- SECTION INPUT -- */
.section-input {
  width: 100%;
}

/* FORM */
form {
  width: 100%;
  font-size: clamp(1rem, 2vw, 4rem);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  column-gap: 1em;
}

.input-box {
  font-size: clamp(1rem, 2vw, 2rem);
  display: flex;
  flex-direction: column;
  gap: 0.185rem;
}

input {
  width: 100%;
  max-height: 2rem;
  padding: 1em 12px;
  border-radius: 0.3em;
  border: 1px solid var(--color-line);
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1%;
  color: var(--color-text);
  outline: none;
}

.input-error-style {
  border: 1px solid var(--color-error);
}

.label-error-style {
  color: var(--color-error);
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px var(--color-surface) inset !important;
  -webkit-text-fill-color: initial !important;
}

input:focus {
  border: 1px solid var(--color-primary);
  caret-color: var(--color-primary);
}

input::placeholder {
  color: var(--color-text-secondary);
}

label {
  font-size: 0.6em;
  letter-spacing: 25%;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  line-height: 0.75em;
  color: var(--color-text-secondary);
}

.error-placeholder {
  height: 0.43em;
  font-size: 0.43em;
  line-height: 1.75em;
  color: var(--color-error);
  font-weight: 400;
  font-style: italic;
}

/* BUTTON */
.button-box {
  font-size: clamp(1rem, 2vw, 10rem);
  grid-column: 1 / -1;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 1.25em;
  margin-bottom: 2em;
}

button {
  font-size: clamp(1rem, 2vw, 10rem);
  position: relative;
  z-index: 100;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border: none;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
}

.icon {
  width: 1.75em;
  height: 1.75em;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-line);
  position: absolute;
  top: 50%;
}

/* -- SECTION OUTPUT -- */
.section-output {
  width: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.section-output div {
  display: flex;
  gap: 2px;
}

.section-output div p,
span {
  font-size: clamp(3.5rem, 6vw, 10rem);
  /* font-size: 56px; */
  font-weight: 800;
  font-style: italic;
  letter-spacing: -2;
  line-height: 110%;
}

.section-output div p {
  color: var(--color-text);
}

span {
  color: var(--color-primary);
}

/* MEDIA QUERY */

@media screen and (min-width: 520px) {
  form {
    grid-template-columns: repeat(4, 1fr);
  }

  .button-box {
    justify-content: flex-end;
    margin: 10px;
  }

  button:hover {
    background-color: var(--color-text);
  }
}
